[project]
	description = This repo is for demonstration purposes only.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ygowell
[access "refs/for/refs/*"]
	read = group user/Ygowell
	push = group user/Ygowell
	label-Code-Review = -2..+2 group user/Ygowell
	label-Verified = -1..+1 group user/Ygowell
	rebase = group user/Ygowell
	removeReviewer = group user/Ygowell
	submit = group user/Ygowell
[access "refs/heads/*"]
	read = group user/Ygowell
	create = group user/Ygowell
	push = +force group user/Ygowell
	pushMerge = group user/Ygowell
[access "refs/tags/*"]
	push = +force group user/Ygowell
	pushTag = group user/Ygowell
	pushSignedTag = group user/Ygowell
